@CHARSET "UTF-8";

.ias_loader, .ias_trigger {
    text-align:center;
    margin: 30px 0 40px;
}

.ias_trigger a:link,
.ias_trigger a:visited {
    background-color: rgba(0,0,0,0.8);
    border: none;
    font: bold 12px Arial, sans-serif;
    color: #FFF;
    text-decoration: none;
    width: 100%;
    display: block;
    height: 43px;
    line-height: 43px;
}

.ias_trigger a:hover,
.ias_trigger a:active {
    border-color: #ccc;
}
