<?xml version="1.0"?>
<config>
    <modules>
        <RLM_Setup>
            <version>0.1.2</version>
        </RLM_Setup>
    </modules>
    <global>
        <resources>
            <rlm_setup_setup>
                <setup>
                    <module>RLM_Setup</module>
                    <class>RLM_Setup_Model_Resource_Setup</class>
                </setup>
            </rlm_setup_setup>
        </resources>
    </global>
</config>