<?xml version="1.0"?>
<config>
    <modules>
        <Scandi_AjaxLogin>
            <version>0.1.0</version>
        </Scandi_AjaxLogin>
    </modules>

    <frontend>
        <routers>
            <scandi_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>Scandi_AjaxLogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </scandi_ajaxlogin>
        </routers>
    </frontend>
</config>